.MainAll{
  /* position:absolute;
 
  z-index: 2; */
  background-color: rgb(231, 227, 227);
}


h2{
  color: #563b20;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #ddc8d3;
  width: 20%;
  /* display: block; */
  margin: auto;
  padding: auto;
  
}
.jikoshokai{
  width: 80vw;
  margin:0 auto;
  line-height: 1.5rem;
  /* border: solid 3px #6091d3; */
  display: flex;
  padding: 10px;

  /* display: block; */
	
}
.jikoshokai p{
  text-align: left;
  letter-spacing: 0.15em;
  padding: 10px;
}
.nm{
  position: relative;
   /* display: block; */
    padding: 30px 0 0 0;
    font-size: 2em;
    /* font-weight: bold; */
 
}
.nm p{
  letter-spacing: 0.12em;
  padding: 0px 0px 10px 10px;
}

@media only screen and (min-width: 768px) {

  .abt{
  
    display: flex;
    justify-content: center;
  } 

  .schoolname{
    font-size: 0.8rem;
    letter-spacing: 0.12em;
  }
  .enname{
    font-size: 1rem;
    font-weight: bold;
    margin:0 auto;

  }
}



@media only screen and (max-width: 767px) {
  .schoolname{
    font-size: 0.7rem;
    letter-spacing: 0.12em;
  }
  .enname{
    font-size: 1rem;
    font-weight: bold;
    margin:0 auto;
  
  }
}
.maingraund{
  /* z-index: 1;
  position: relative; */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{url-friendly-colour($color)}' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}