.SkillMain{
  background-color: #f5f5f5;
  /* background-color: rgb(228, 220, 214); */
  margin:0 auto;
  padding-bottom: 50px;
}

  

.adb1{
  box-sizing     : border-box;          
  background-color     :#CF96FD ;              
  width          : 8vw;                 
  height         : auto;                 
  padding : 2vw; 
  margin: 2vw;               
  border-radius: 50%;
  z-index: 1;
}

.adb2{
  box-sizing     : border-box;          
  background-color     :#FF9A00;           
  width          : 8vw;                 
  height         : auto;                 
  padding : 2vw; 
  margin: 2vw;             
  border-radius: 50%;
  z-index: 1;
  /* opacity: 20%; */
}
.adb3{
  box-sizing     : border-box;         
  background-color     :#31A8FF;             
  width          : 8vw;             
  height         : auto;                
  padding : 2vw; 
  margin: 2vw;                
  border-radius: 50%;
  z-index: 1;
  /* opacity: 20%; */
}

.adb4{
  box-sizing     : border-box;         
  background-color     :#FF61F6 ;            
  width          : 8vw;                
  height         : auto;                
  padding : 2vw; 
  margin: 2vw;              
  border-radius: 50%;
  z-index: 1;
  /* opacity: 20%; */
}
.adb5{
  box-sizing     : border-box;          
  background-color     :#e6eaec;              
  width          : 8vw;              
  height         : auto;                 
  padding : 2vw; 
  margin: 2vw;                
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  /* opacity: 20%; */
}
.adb6{
  box-sizing     : border-box;        
  background-color     :#4BBABC;              
  width          : 8vw;                 
  height         : auto;                 
  padding : 2vw; 
  margin: 2vw;               
  border-radius: 50%;
  z-index: 1;
  
  /* opacity: 20%; */
}
.pr1{
  box-sizing     : border-box;           
  background-color     :#ED662F ;           
  width          : 8vw;                 
  height         : auto;                 
  padding : 2.0vw; 
  margin: 2vw;               
  border-radius: 50%;
  z-index: 1;
}
.pr2{
  box-sizing     : border-box;          
  background-color     :#3C9CD8 ;             
  width          : 8vw;                 
  height         : auto;                 
  padding : 2.0vw; 
  margin: 2vw;                 
  border-radius: 50%;
  z-index: 1;
  /* opacity: 20%; */
}
.pr3{
  box-sizing     : border-box;          
  background-color     :#E6B82C;              
  width          : 8vw;                 
  height         : auto;                 
  padding : 2.0vw; 
  margin: 2vw;               
  border-radius: 50%;
  z-index: 1;
  /* opacity: 20%; */
}
.pr4{
  box-sizing     : border-box;          
  background-color     :#00D8FE;             
  width          : 8vw;                 
  height         : auto;                 
  padding : 2.0vw; 
  margin: 2vw;               
  border-radius: 50%;
  z-index: 1;
  /* opacity: 20%; */
}
.pr5{
  box-sizing     : border-box;           
  background-color     :#649AD2;               
  width          : 8vw;                 
  height         : auto;                
  padding : 2vw; 
  margin: 2vw;                 

  border-radius: 50%;
  z-index: 1;
  
  /* opacity: 20%; */
}
.Cgengo{
  max-width: 100%;
  width:4vw;
  height: auto;
  pointer-events: none;

}
.Maya{
  max-width: 100%;
  width:4vw;
  height: auto;
  pointer-events: none;

}



.box{
  margin         :0 auto;          
  box-sizing     : border-box;      
  
  width          : 90vw;      
  max-height     : 210px;               
  animation: boxAnime 10s linear infinite alternate;
  justify-content: center;
  /* ▼ FlexBoxの定義 */
  display        : flex;                 
  flex-wrap      : wrap;                


}

  
.skillname{
  font-size:1vw;
}