.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  margin: 0 auto;
  /* padding: 30px; */
  background-color: #fff;
}


@media not all and (min-width: 768px) {
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item {
  width: 100%;
}

.card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.card li {
  min-width: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.card img{
  /* padding: 10px; */
  width: 35vw;
  height: 100%;
  vertical-align: top;
  /* border-radius: 30% 40% 40% 0%/50% 50% 60% 50%; */

}


/* ------- */
.hover {
  position: relative;
}

.hover .hover-img {
  margin: 0;
  padding: 0;
}
.hover-img img {
  width: 35vw;
  height: 100%;
}

.hover .hover-text {
  position: absolute;
  width: 35vw;
  height: 100%;
  top: 0px;
  left: 0px;
  color: #fff;
  background-color: rgba(0,0,0,0.65);
  /*透明にして表示させない*/
  opacity: 0;
  /*ホバーの動き方*/
  transition: .3s ease-in-out;
  /* border-radius: 30% 40% 50% 50%/50% 50% 40% 40%; */
}
.hover .hover-text .text1 {
  font-size: 2.5vw;
  padding-top:25%;
  padding-bottom: 25%;
}
/*ホバーエフェクト*/
.hover:hover .hover-text {
  /*不透明にして表示*/
  opacity: 1;
}
/* .circle-2 {
  width: 35vw;
  height: 100%;
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
  mix-blend-mode: multiply;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 3s infinite linear;
   mix-blend-mode: multiply;
}
@keyframes border-animation {
  to { transform: rotate(360deg); }
} */