.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  margin: 0 auto;
  /* padding: 30px; */
  background-color: #fff;
}
h2{
  color: #563b20;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #3e2914;
  width: 20%;
  /* display: block; */
  margin: auto;
  padding: auto;
}
.komidashi:first-letter{
  font-size: 2em;
  font-weight: bold;
  color: #612681;

}


/* @media not all and (min-width: 768px) {
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
} */

.item {
  width: 100%;
}

.card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.card li {
  min-width: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.card img{
  /* padding: 10px; */
  width: 50vw;
  height: 100%;
  vertical-align: top;
  /* border-radius: 30% 40% 40% 0%/50% 50% 60% 50%; */

}


/* ------- */
.hover {
  position: relative;
}

.hover .hover-img {
  margin: 0;
  padding: 0;
}
.hover-img img {
  width: 35vw;
  height: 100%;
}
.hover .hover-text {
  position: absolute;
  width: 35vw;
  height: 100%;
  top: 0px;
  left: 0px;
  color: #fff;
  background-color: rgba(0,0,0,0.65);
  opacity: 0; 
  transition: .3s ease-in-out;

}
.hover .hover-text .text1 {
  font-size: 2.5vw;
  padding-top:25%;
  padding-bottom: 25%;
}

.hover:hover .hover-text {
opacity: 1;
}
@media screen and (max-width: 768px) {
  .hover-img img {
    width: 50vw;
    height: 100%;

  }
  .hover .hover-text {
    width: 50vw;
    height: 100%;
    
  }
  .hover .hover-text .text1 {
    font-size: 3vw;
    padding-top:25%;
    padding-bottom: 25%;
  }
  
}


