* {
  margin: 0px;
  padding: 0px;
  font-family: "M PLUS Rounded 1c";
  /* font-family: 'M+ Type-1 (general-j) Regular'; */
  /* font-family: "font-family: Tsukushi B Round Gothic","筑紫B丸ゴシック"; */
}
.container {
  /* position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%; */
  /* display: flex;
  flex-direction: column; */
  /* min-height: 1000vh; */
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 60px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
}
