*{
  padding:0;
  margin:0;
}
/* h1 {
  border-bottom: solid 3px #e9cd82;
  position: relative;
  font-size: 30px;
} */
@media only screen and (min-width: 556px) {
  h1{
    font-size: 20px;
  }
}


/* h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #7f320b;
  bottom: -3px;
  width: 30%;
} */

.title {
  width: 70%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .skilltitle{
    margin: 10px;
  }

  .ex{
    width: 60%;
    text-align: center;
    color: #2a2a26;
    padding: 0.5em;
    border-radius: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
   letter-spacing: 0.25em;
  }

  .btn-circle-stitch {
    display: inline-block;
    text-decoration: none;
    background: #84663d;
    color: #FFF;
    width: 30px;
    height: 20px;
    line-height: 30px;
    border-radius: 30% 40% 50% 30%/50% 50% 40% 40%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #84663d;
    border: dashed 1px #FFF;
    transition: .4s;
    margin-top:20px;
    padding: 3px 3px 6px 3px;
  };
  
  .btn-circle-stitch:hover {
    background: #6c6b6a;
    box-shadow: 40px 0px 0px 60px #6c6b6a;
  }
  img{
    width: 50%;
  }

  .small{
    margin-top: 10px;
  }

  .youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }